on:
    push:
      branches:
        - main
    pull_request:
    workflow_dispatch:

jobs:

  setup:
    runs-on: ubuntu-latest
    outputs:
      directories: ${{ steps.list-dirs.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: list-dirs
        run: |
          # Finds example subdirs and creates a JSON array ["dir1", "dir2"]
          DIRS=$(find examples -maxdepth 1 -mindepth 1 -type d -printf '%P\n' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$DIRS" >> $GITHUB_OUTPUT

  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        gnat_version: ["^14", "^15"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: alire-project/setup-alire@v4
        with:
          version: 2.1.0
          toolchain: gnat_native${{ matrix.gnat_version }} gprbuild --disable-assistant

      - name: Build (validation)
        run: |
          alr build --validation

      - name: Build examples
        shell: bash
        run: |
          cd examples
          ./build-all.sh --profile=validation

      - name: Run unit tests
        shell: bash
        run: |
          cd tests/unit_tests
          alr build \
            --profiles=unit_tests=validation,libsap=validation \
            -- \
            -XUNIT_TEST_REPORT_FORMAT=XML
          mkdir reports
          bin/unit_tests > reports/unit_tests.xml
          cat reports/unit_tests.xml

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}       # run this step even if previous step failed
        with:
          name: Unit Tests
          path: tests/unit_tests/reports/*.xml
          reporter: java-junit

  prove:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        subdir: ${{ fromJson(needs.setup.outputs.directories) }}

    steps:
      - uses: actions/checkout@v4

      - uses: alire-project/setup-alire@v4
        with:
          version: 2.1.0

      - name: Prove example ${{ matrix.subdir }}
        shell: bash
        run: |
          cd examples/${{ matrix.subdir }}
          alr build --stop-after=generation
          alr exec -- gnatprove \
            -P ${{ matrix.subdir}}.gpr \
            --level=1 \
            -j0 \
            --warnings=error \
            --checks-as-errors=on